@using Microsoft.CodeAnalysis.Host
@model List<RateDto>

@{
    ViewData["Title"] = "View";
}

<h2>Currency Rates</h2>

<table>
    <thead>
        <tr>
            <th>
                <h4>Currencies</h4>
            </th>
            <th>
                <h4>Values</h4>
            </th>
        </tr>
    </thead>
    <tbody id="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Value
                </td>
            </tr>
        }
    </tbody>
</table>

<button id="next" , value="hello" class="next">NEXT>>></button>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var page = 1;
    $("#next").on('click',
        function() {
            $.ajax({
                type: 'GET',
                url: '/currency/getjsonrates/',
                data: { "page": page },
                dataType: 'json',
                success: function(data) {
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            var tr = (
                                `<tr><td>${data[i].name}</td><td>${data[i].value}</td></tr>`
                            );
                            $("tr:odd").css("background-color", "#F0F8FF");
                            $("#table").append(tr);
                            
                        }
                        page++;
                    }
                },
                beforeSend: function() {
                    $("#progress").show();
                },
                complete: function() {
                    $("#progress").hide();
                },
                error: function() {
                    alert("Error while retrieving data!");
                }
            });
        });
</script>





