@using Microsoft.CodeAnalysis.Host
@model PublicAPILibrary.Rates

@{
    ViewData["Title"] = "View";
}

<h2>Currency Rates</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Currencies</h4>
            </th>
            <th>
                <h4>Values</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prop in Model.GetType().GetProperties())
        {
            <tr>
                <td>
                    @prop.Name
                </td>
                <td>
                    @prop.GetValue(Model, null)
                </td>
            </tr>
        }
    </tbody>
</table>
